
<style>
  h1 {
    margin: 8px 0;
    color: #125699;
  }

  
  .content {
    margin: 20px ;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }


  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


  table{
    border: 5px solid black ;
  }

  
</style>

<!-- Toolbar -->

  

<div class="content" role="main">
  <h1>{{ title }}</h1>
  <!--FORMULARIO--->
  <h3>{{nota_fiscal.nome}} pediu</h3>
  <form  >
    <br>
     
    
      <table class="table">
          <thead>
            <tr>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>$$</th>
              <th>Desconto</th>
            </tr>
          </thead>
          <tbody id="corpo-tabela">
            
          </tbody>
          <tr>
            <th>{{produto_escolhido.descricao}}</th>
            <th><span *ngIf="quantidade">{{quantidade}}</span></th>
            <th><span *ngIf="quantidade">{{produto_escolhido.valor_unitario * quantidade}}</span></th>
            <th><span *ngIf="quantidade">{{produto_escolhido.desconto}}%</span></th>

          </tr>
          <tr *ngIf="valorTotal">
            <th class="text-info">Valor Total</th>
            <th></th>
            <th class="text-info">{{valorTotal}}</th>
            <th></th>
          </tr>
        </table>

        
    <div class="form-group">
      <label>Nome: </label>
      <input type="text" class="form-control" name="name" [(ngModel)]="nota_fiscal.nome" >
    </div>
  
   
    <div class="form-group">
      <label>Produto</label>
      <select class="form-control" id="roupas" name="produto"  [(ngModel)]="produto_escolhido.codigo" (click)="escolheProduto(); quantidade = 1">
        <option *ngFor = "let produto of lista_produto" value="{{produto.codigo}}" > {{produto.codigo}} - {{produto.descricao}} </option>
      </select>
    </div>
    <div class="form-group">
      <label class="text-info">Valor unitário (R$): </label> <span id="preco">{{produto_escolhido.valor_unitario}}</span>
    </div>
    <div class="form-group">
      <label>Quantidade:</label>
      <input class="form-control" type="number" name="quantidade" min="1" max="10" [(ngModel)] = "quantidade">
    </div>

    <hr>
    <div class="form-group">
      <label class="text-info">Valor Total (R$): </label> <span id="precoTotal">{{produto_escolhido.valor_unitario * quantidade}}</span>
    </div>
    

    
   
    <button class="btn btn-outline-success" (click)="adicionaItem()" >Adiciona item</button>
    <br>
    <button class="btn btn-success pr-5 pl-5" (click) = fecharPedido() >Fechar pedido</button>
  </form>
</div>

 

<router-outlet></router-outlet>